
.container{

    &__title{
        text-align: center;
        font-family: sans-serif;
    }

    &__board{
        margin: 0 auto;
        width: 45vh;
        text-align: center;
        box-shadow: 0 0 5px black;
        height: 45vh;
        background-color: #eef1ed;

        .box {
            width: 15vh;
            height: 15vh;
            box-shadow: 0 0 0px 1px black;
            float: left;
        
            & div{
                width: 90%;
                height: 90%;
                margin: 0 auto;
                margin-top: 1vh;
            }
        }
    }

    &__config{
        text-align: center;
        padding-top: 3rem;
    }
}